{%extends 'base.html'%} {% block content %}

<style>
  /* Initially hide the loading message */
  .htmx-indicator {
    display: none;
    transition: opacity 500ms ease-in;
  }
  .htmx-request .htmx-indicator {
    display: block;
  }
  .htmx-request.htmx-indicator {
    display: block;
  }
</style>

<div class="chat-container is-flex is-flex-direction-column is-fullheight">
  {% include 'partials/edit-delete-conversation-group.html'%}
  <div class="chat-messages">{%include "partials/chat-messages.html"%}</div>
  <div class="chat-input is-flex-align-items-flex-end">
    <!-- Loading Section-->
    <div id="loading-message" class="htmx-indicator card my-4">
      <div class="card-content">
        <i class="fa fa-hourglass-half"></i> Loading
      </div>
    </div>
    {%include "partials/chat-input.html"%}
  </div>
</div>

{% endblock%}
