<form
  hx-post="/query"
  hx-target=".chat-messages"
  hx-indicator="#loading-message"
  hx-swap="beforeend"
>
  <div class="field has-addons">
    <div class="control is-expanded">
      <input
        class="input"
        name="conversation_group_id"
        type="hidden"
        value="{{conversation_group_id}}"
      />
      <input
        class="input"
        name="prompt_message"
        type="text"
        placeholder="Type your message..."
      />
    </div>
    <div class="control">
      <button type="submit" class="button is-info">Send</button>
    </div>
  </div>
</form>
