<aside class="column is-3 section has-background-white-bis">
  <h1 class="title has-text-centered is-size-3">✈️ Text 2 SQL</h1>
  <div class="has-text-centered">
    <a href="/" class="button is-primary is-light is-small is-fullwidth">
      <span class="icon"><i class="fa fa-home"></i></span>
      <span>Back to projects</span>
    </a>
  </div>

  {% if project_id %}
  <div class="has-text-centered">
    <form
      id="new-chat"
      hx-post="/conversation-group/new"
      hx-target="#conversation_group"
      class="is-inline"
    >
      <input type="hidden" name="project_id" value="{{project_id}}" />
      <button type="submit" class="button is-info is-light is-small">
        <i class="fa fa-feather"></i> &nbsp;New Chat
      </button>
    </form>

    <form
      id="new-chat"
      method="post"
      action="/conversation-group/clear"
      class="is-inline"
    >
      <input type="hidden" name="project_id" value="{{project_id}}" />
      <button type="submit" class="button is-link is-light is-small">
        <i class="fa fa-trash"></i> &nbsp;Clear Chat
      </button>
    </form>
  </div>

  <p class="menu-label is-hidden-touch">Conversation History</p>
  {% include "partials/conversation-group.html"%}
  {% else %}
  <div class="notification is-info is-light mt-4">
    Select a project to enable chat controls and history.
  </div>
  {% endif %}
</aside>
